{% extends 'bases/base.html' %}

{% block content %}
    <main class="page cv-page" style="margin-top: 50px">
        <section class="portfolio-block cv">
            {% if b == 0 %}
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Vous n'avez pas de quiz disponible</h2>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Quizz en attente</h2>
                    </div>
                    {% for qatt in q %}
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{ qatt.titre }}</h3>
                                <h4 class="organization">niveau :{{ qatt.niveau }} </h4>
                            </div>
                            <div class="col-md-6"><span class="period">{{ qatt.date_debut }}-{{ qatt.date_fin }}</span></div>
                        </div>
                        <p class="text-muted">{{ qatt.titre }}<br></p>
                    </div>
                    {% endfor %}
                 </div>
                {% if qt %}
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Quizz passé</h2>
                    </div>
                    {% for qpass in qt %}
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{ qpass.titre }}</h3>
                                <h4 class="organization">niveu : {{ qpass.niveau }}</h4>
                            </div>
                            <div class="col-6"><span class="period">{{ qpass.date_debut  }}-{{ qpass.date_fin }}</span></div>
                        </div>
                        <p class="text-muted">{{ qpass.titre }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </section>
    </main>

{% endblock content %}