{% extends 'bases/base.html' %}

{% block content %}
    <main class="page projects-page">
        <section class="portfolio-block projects-with-sidebar">
            <div class="container">
                <div class="heading">
                    <h2>Fin dans : rebours</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled sidebar">
                            <li><a class="active" href="#">All</a></li>
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Clean</a></li>
                            <li><a href="#">Colors</a></li>
                            <li><a href="#">Portfolio</a></li>
                        </ul>
                        <div class="social-icons"><button class="btn btn-outline-primary" type="button"><i class="fa fa-arrow-left"></i></button><button class="btn btn-outline-primary" type="button"><i class="fa fa-arrow-right"></i></button><button class="btn btn-outline-danger"
                                type="button">Valider</button></div>
                    </div>
                    <div class="col-md-9 align-self-start">
                        <h4 class="text-center">Heading</h4>
                        <div class="row mb-2">
                            <div class="col-md-6 col-lg-4 text-center m-auto project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="assets/img/nature/image2.jpg"></a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><img class="img-fluid" src="assets/img/nature/image1.jpg"></label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Label</label></div>
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4"><img class="img-fluid" src="assets/img/nature/image3.jpg"></label></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}