<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CV - Brand</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    
    <!-- Compte -->
    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/compt/fonts/material-icon/css/material-design-iconic-font.min.css">
    
    <!-- Main css -->
    <link rel="stylesheet" href="/static/compt/css/style.css">
    
    <!-- Fin Compte -->
    
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">NaN Quizz</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'connexionuser' %}">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'deconnexion' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="app">
    {% block content %}
    
    {% endblock content %}
</div>
<footer class="page-footer m-5">
    <div class="container">
        <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
        <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/static/assets/js/script.min.js"></script>
<script src="/static/compt/js/main.js"></script>
<script src="/static/vuejs/axios-min.js"></script>
<script src="/static/vuejs/vue.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script>
    new Vue({
        el: '#appregis',
        data: {
            form: {
                first_name: '',
                last_name: '',
                username: '',
                email: '',
                password: '',
                password2: '',
                file: '',
            },
            isSuccess:false,
            error:false,
            messageRes:'',
        },
        delimiters: ["${", "}"],
        mounted(){
            this.isSuccess = false,
            this.error = false
        },
        methods: {
            handleFileUpload:function(){
                this.form.file = this.$refs.file.files[0];
            },
            onSubmit(evt){
                evt.preventDefault()
                
                let formData=new FormData()
                formData.append('file', this.form.file)
                formData.append('username', this.form.username)
                formData.append('email', this.form.email)
                formData.append('first_name', this.form.first_name)
                formData.append('last_name', this.form.last_name)
                formData.append('password', this.form.password)
                formData.append('password2', this.form.password2)
                
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                
                const path = `http://127.0.0.1:8000/registerApi`
                
                axios.post(path, formData,{
                    
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => { 
                    
                    // console.log('ok pOST')
                    // swal("Merci!", "Votre formulaire contact a ete soumis avec succes!", "success");
                    
                    console.log(response.data.success) 
                    console.log(response.data.message) 
                    
                    if(response.data.success == true){
                        this.isSuccess=true
                        this.error=false
                        this.messageRes=response.data.message
                        // console.log('Ok Goog')
                        
                        // window.location = "http://127.0.0.1:8000/connexionuser/";
                        
                    }
                    else{
                        this.error=true
                        this.isSuccess=false
                        this.messageRes=response.data.message
                        console.log('Fake connec')
                    }
                    
                    
                    this.form.first_name = ''
                    this.form.last_name = ''
                    this.form.username = ''
                    this.form.email = ''
                    this.form.password = ''
                    this.form.password2 = ''
                    this.form.file = ''
                    
                })
                .catch(error => {
                    console.log(error.response.data)
                });
            },
            
            onsubmitLogin(evt){
                evt.preventDefault()
                
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                
                const path = `http://127.0.0.1:8000/loginsApi`
                
                axios.post(path, this.form)
                .then(response => { 
                    console.log(response) 
                    this.form.username = response.data.username  
                    this.form.password = response.data.password  
                    
                    // console.log('ok pOST')
                    // swal("Merci!", "Votre formulaire contact a ete soumis avec succes!", "success");
                    
                    console.log(response.data.success) 
                    console.log(response.data.message) 
                    
                    // console.log('Ok Goog')
                    
                    if(response.data.success == true){
                        this.isSuccess=true
                        this.error=false
                        this.messageRes=response.data.message
                        console.log('Ok Goog')
                        
                        window.location = "http://127.0.0.1:8000/";
                        
                    }
                    else{
                        this.error=true
                        this.isSuccess=false
                        this.messageRes=response.data.message
                        console.log('Fake connec')
                    }
                    
                    this.form.username = ''
                    this.form.password = ''
                    
                })
                .catch(error => {
                    console.log(error.response.data)
                });
            },
            
        },
        
    });
</script>

</body>

</html>